.swipe {
    width: 72.5vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-header > h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.connect-card {
    z-index: 20;
    border: 1px solid black;
    background-image: linear-gradient(#7a7373, rgb(246, 245, 245));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 25rem;
    height: 35rem;;
    margin: 5%;
}


.connect-card-nameplate, 
.connect-card-body {
    border-bottom: 1px solid black;
}

.connect-card-nameplate, 
.connect-card-body, 
.connect-card-footer {
    display: flex;
    justify-content: center;
}

.connect-card-footer{
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.stats{
    display: flex;
    /* flex-direction: column; */
}

.choice{
    display: flex;
    justify-content: center;
    /* margin-top: 70%; */
}