.connections-links {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

.connections > h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.connections-link {
    color: white;
}