.home{
    color: white;
    overflow-x: hidden;
}

.container{
    position: relative;
    z-index: -3;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100vh;
    margin-bottom: 30%;
}

.container .content-header{
    align-items: center;
    

}

.content-header{
    font-family: sans-serif;
    color: white;
    text-align: center !important;
    text-transform: uppercase;
}

.content-header h1{
    font-size: 120px;
    font-weight: 600;
    color: white;
    margin-bottom: -40px;   
}

.content-header h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
}

content {
    width: 100px;
    height: auto;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paralax{
    position: absolute;
    height: 100%;
}

.paralax-item{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;    
}

.p-item1{
    background: url("../../../public/starry.png") center/cover no-repeat;
    z-index: -3;
    
}

.p-item3{
    background: url("../../../public/scroll1.png") bottom/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;

}

.p-item4{
    position: absolute;
    top: 0;
    left: 0;
    width: 10000%;
    height: 100%;
    content: '';
    background: url("../../../public/fog.png");
    background-size: contain;
    background-position: center;
    animation: marquee 20s linear infinite;
}

.p-item4::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
    content: '';
    background: url("../../../public/fog.png");
    background-size: contain;
    background-position: center;
    animation: marque 20s linear infinite;
    z-index: 0;

}

@keyframes marquee{
    0%{
        transform: translate3d(0,0,0);
    }

    100%{
        transform: translate3d(-200vw,0,0);
    }
}

.gamericon{
    margin-top: 30%;
    width: 50%;
    
}


.imgdiv{
    display: flex;
}


.content-txt{
    /* padding-top: 40%; */
    margin-top: 30%;
    width: 800px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.463);
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index:0;
}

.content-txt:before{
    content: '';
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
}

.gamecards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    margin-bottom: 30%;
    margin: 5%;
    width: 18rem;
    height: 32rem;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    z-index: 28;
}

.cardimg{
    width:100%;
    height: 56.2%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card-body{
    color: black;
}

.card-title{
    font-size: large;
    margin-bottom: 0;
}

.card-text{
    font-size: 13px;
}

.card:hover{
    background-color: rgb(249, 170, 0);
    transform: scale(1.2);
}
