@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  /* padding: 2vmin; */
}

button, a.button {
  margin: 1vmin;
  /* padding: 1vmin; */
  /* color: var(--white); */
  background: transparent;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: transparent;
}

.box{
  position: relative;
  width: 480px;
  height: 300px;
  background: rgba(0, 0, 0, 0.511);
  border-radius: 8px;
  overflow: hidden;
}

.box1{
  position: relative;
  width: 480px;
  height: 520px;
  background: rgba(0, 0, 0, 0.511);
  border-radius: 8px;
  overflow: hidden;
}

.box::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 480px;
  height: 300px;
  background: linear-gradient(0deg, transparent,#45f3ff5e ,#45f3ff5e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box1::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 480px;
  height: 520px;
  background: linear-gradient(0deg, transparent,#45f3ff5e ,#45f3ff5e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 480px;
  height: 300px;
  background: linear-gradient(0deg, transparent,#45f3ff5e ,#45f3ff5e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.box1::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 480px;
  height: 520px;
  background: linear-gradient(0deg, transparent,#45f3ff5e ,#45f3ff5e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.form-container{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #00000068;
    z-index: 10;
}

.auth{
  position: relative;
  /* padding: 0 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}

.authlbl{
  color: #45f3ff;
}

.signup{
  color: white;
}

.signin{
  color: white;
}

.loginbx{
  margin-top: 3%;
}

.authinput{
  max-width: 400px;
  max-height: 30px;
  background: transparent;
  border: none;
  letter-spacing: 0.05em;
  font-size: 1em;
  color: #45f3ff;
}


.authinputpw{
  width: 400px;
  height: 30px;
  background: transparent;
  color: #45f3ff;
  letter-spacing: 0.05em;
  font-size: 1em;
}

.authform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authstuff{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authstuff h1{
  color: white;
}

.titletext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-family: 'Black Ops One', cursive;
  width: 100%;
}

.titletext span{
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow{
  0%, 100%{
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10%, 90%{
      color: black;
      text-shadow: none;
  }
}

.titletext span:nth-child(1){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: aqua;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(2){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(3){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(4){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(5){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: aqua;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(6){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(7){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(8){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(9){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}
.titletext span:nth-child(10){
  animation-delay: 0.15s;
  animation-iteration-count: 3;
  color: white;
  text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
}

